<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="Настройки">
    <setting id="login" type="text" label="Логин" default="" />
    <setting id="password" type="text" option="hidden" label="Пароль" enable="!eq(-1,)" default="" />
    <setting id="temp_path" type="folder" label="Папка для временных файлов" option="writeable" default="special://temp/torrent2http" />
	<setting id="download_path" type="folder" label="Папка для .torrent файлов"  option="writeable" default="" />
  </category>
</settings>
